@import url('font-awesome.css');
*
{
     box-sizing: border-box;
}
body
{
    padding:0;
    margin:0;
    box-sizing: content-box;
}
.invisible
{
    visibility: hidden !important;
}
.excelider_main_cont {
    display: inline-block;
    width: 100%;
    text-align: center;
    padding: 0;
    position: relative;
}
.excelider_container {
    display: inline-block;
    width: auto;
    text-align: center;
    padding: 0;
    position: relative;
}

.ex_viewport {
    display: inline-block;
    width: 1200px;
    text-align: center;
    overflow: hidden;
    /*overflow-x: scroll;*/
    height: 500px;
    border: 0px solid #000;
    -webkit-box-shadow: inset 0 0 20px 10px rgba(0,0,0,0.4), 0 0 10px 3px rgba(0,0,0,0.4);
    -moz-box-shadow: inset 0 0 20px 10px rgba(0,0,0,0.4), 0 0 10px 3px rgba(0,0,0,0.4);
    -o-box-shadow: inset 0 0 20px 10px rgba(0,0,0,0.4), 0 0 10px 3px rgba(0,0,0,0.4);
    -ms-box-shadow: inset 0 0 20px 10px rgba(0,0,0,0.4), 0 0 10px 3px rgba(0,0,0,0.4);
    box-shadow: inset 0 0 20px 10px rgba(0,0,0,0.4), 0 0 10px 3px rgba(0,0,0,0.4);
    /* position: relative; */
}

ul.ex_ul {
    display: inline-block;
    /*width: 4000px;*/
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
    height: 100%;
    /*height: 500px;*/
    /* overflow: hidden; */
    /* overflow-x: scroll; */
}

li.ex_li_indiv {
    display: inline-block;
    /*width: 1000px;*/
    height: 100%;
    width: 100%;
    float: left;
    /*height: 500px;*/
    background-position: 50% 50%;
    background-size: cover;
    position: relative;
}

li.ex_li_indiv
 >img {
    display: inline-block;
    width: 100%;
}

.list_pointers {
    position: absolute;
    left: auto;
    height: 20px;
    bottom: 15px;
    width: 100%;
    min-width: 100px;
    background: transparent;
    text-align: center;
    z-index: 7;
}
ul.list_pointers_ul {
    width: 100%;
    display: inline-block;
    padding: 0;
    margin: 0;
}

ul.list_pointers_ul li {
    display: inline-block;
    width: 13px;
    color: yellow;
}

a.pointer_linkno {
    display: inline-block;
    width: 8px;
    height: 8px;
    box-sizing: border-box;
    max-width: 100px;
    background: aliceblue;
    border: 2px solid rgba(0,0,0,0.1);
    margin: 0;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -o-border-radius: 100%;
    -ms-border-radius: 100%;
    border-radius: 100%;
    -webkit-box-shadow: 0px 5px 11px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 5px 11px rgba(0,0,0,0.5);
    -o-box-shadow: 0px 5px 11px rgba(0,0,0,0.5);
    -ms-box-shadow: 0px 5px 11px rgba(0,0,0,0.5);
    box-shadow: 0px 5px 11px rgba(0,0,0,0.5);
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;

}
a.pointer_linkno.activepoint {
    padding: 6px;
}
a.pointer_linkno.squared
{
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    -o-border-radius: 0 !important;
    -ms-border-radius: 0 !important;
    border-radius: 0 !important;
}
a.pointer_linkno:active {
    -webkit-box-shadow: 0px 0px 11px rgba(0,0,0,0.8);
    -moz-box-shadow: 0px 0px 11px rgba(0,0,0,0.8);
    -o-box-shadow: 0px 0px 11px rgba(0,0,0,0.8);
    -ms-box-shadow: 0px 0px 11px rgba(0,0,0,0.8);
    box-shadow: 0px 0px 5px rgba(0,0,0,0.8);
}
.pointer_linkno.noborder
{
    border:0 !important;
}
.nav_buttons
{
   height: 100%;
   padding-top: 5px;
   height: 45px;
   width: 45px;
   border: 0;
   background: rgba(0,0,0,0.75);
   color: #fff;
   font-weight: 100;
   cursor: pointer;
   z-index: 5;
   outline: 0 !important;
   -webkit-box-shadow: 0px 8px 11px rgba(0,0,0,0.8);
   -moz-box-shadow: 0px 8px 11px rgba(0,0,0,0.8);
   -o-box-shadow: 0px 8px 11px rgba(0,0,0,0.8);
   -ms-box-shadow: 0px 8px 11px rgba(0,0,0,0.8);
   box-shadow: 0px 8px 11px rgba(0,0,0,0.8);
   font-size: 25px;
   -webkit-transition: 0.5s all;
   -moz-transition: 0.5s all;
   -o-transition: 0.5s all;
   -ms-transition: 0.5s all;
   transition: 0.5s all;
}

.nav_buttons:active {
    -webkit-box-shadow: 0px 0px 11px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 11px rgba(0,0,0,1);
    -o-box-shadow: 0px 0px 11px rgba(0,0,0,1);
    -ms-box-shadow: 0px 0px 11px rgba(0,0,0,1);
    box-shadow: 0px 0px 5px rgba(0,0,0,1);
}
.nav_buttons:hover {
    width: 50px;
}
.ex_viewport.showNavHover .nav_buttons.autoHide
{
    opacity: 0;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
}
.ex_viewport.showNavHover:hover .nav_buttons.autoHide
{
    opacity: 1;
}
.nav_buttons.excelider_prev {
    position: absolute;
    top: 45%;
    left: 0;
    
}
.nav_buttons.excelider_next {
    position: absolute;
    top: 45%;
    right: 0;  
}

.nav_buttons i {
    display: inline-block;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
}

.nav_buttons.excelider_next:hover i {
    margin-left: 25px;
    font-weight: bold;;
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -o-transform: scale(0.5);
    -ms-transform: scale(0.5);
    transform: scale(0.5);
    }
.nav_buttons.excelider_prev:hover i {
    margin-right: 25px;
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -o-transform: scale(0.5);
    -ms-transform: scale(0.5);
    transform: scale(0.5);
    }
.excelider_content {
    user-select: none;
    -webkit-user-drag: none;
    user-drag: none;
    display: inline-block;
    position: relative;
    height: 100%;
    width: 100%;
}
.playControls {
    position: absolute;
    z-index: 7;
    top: 0;
    left: 0;
    width: auto;
    background: rgba(0,0,0,0.4);
    -webkit-box-shadow: 0px 8px 8px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 8px 8px rgba(0,0,0,0.2);
    -o-box-shadow: 0px 8px 8px rgba(0,0,0,0.2);
    -ms-box-shadow: 0px 8px 8px rgba(0,0,0,0.2);
    box-shadow: 0px 8px 8px rgba(0,0,0,0.2);
}

.play_block {
    display: inline-block;
    text-align: center;
}

button.play_blockBtn {
    border: 0;
    background: transparent;
    color: #fff;
    font-size: 0.8em;
    cursor: pointer;
    padding: 2px 5px;
    outline: 0;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
}

button.play_blockBtn:hover {
    background: rgba(0,0,0,0.7);
}

button.play_blockBtn i
{
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
}

button.play_blockBtn.playToggle.disabled {
    opacity: 0.4;
    pointer-events: none;
}
.content_images {
    display: inline-block;
    width: 150px;
    height:auto;
}
.content_images img
{
    width:100%;
    max-width:150px;
}
.images_tooltipCont {
    position: absolute;
    z-index: -9999;
    opacity: 0;
    visibility: hidden;
}
.tooltipster-content {
    padding: 0 !important;
    line-height: 15px !important;
    overflow: hidden;
    margin-bottom: -2px !important;
}

.tooltipster-sidetip .tooltipster-box {
    border: 0 !important;
    border-radius: 0 !important;
    box-shadow: 0 0 4px 2px rgba(0,0,0,0.4);
}

.tooltipster-sidetip.tooltipster-top .tooltipster-arrow {
    bottom: -3px;
    height: 10px;
    margin-left: -10px;
    width: 20px;
}

.tooltipster-sidetip.tooltipster-top .tooltipster-arrow-background {
    border-top-color: #000;
    left: 0;
    top: -3px;
}
.playControls.topleft
{
    top:0;
    left:0;
    right:auto; 
    bottom:auto;
}
.playControls.topright
{
    top:0;
    left:auto;
    right:0; 
    bottom:auto;
}
.playControls.topcenter
{
    top:0;
    left:auto;
    display: inline-block;
    right:auto; 
    bottom:auto;
}
.playControls.bottomleft
{
    top:auto;
    left:0;
    right:auto; 
    bottom:5px;
}
.playControls.bottomright
{
    top:auto;
    left:auto;
    right:0; 
    bottom:5px;
}
.playControls.bottomcenter
{
    top:auto;
    left:auto;
    display: inline-block;
    right:auto; 
    bottom:5px;
}

.excelider_middle {
    display: inline-block;
    width: 100%;
}

.excelider_inside {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding: 20px 60px;
    color:#000;
}

/*Customizing Bootstrap Buttons*/
button.btn {
    border: 0;
    border-radius: 0 !important;
    padding: 6px 10px;
    box-shadow: 0 0 2px 1px rgba(0,0,0,0.4);
}

button.btn.sm {
    padding: 6px 10px;
    font-size: 12px;
}
button.btn.md {
    padding: 10px 20px;
    font-size: 15px;
}
button.btn.lg {
    padding: 10px 30px;
    font-size: 20px;
}
button.btn.xlg {
    padding: 15px 35px;
    font-size: 22px;
}
/*Eo Of Buttons*/
.glassBack {
    background: rgba(0,0,0,0.3);
    color: #fff;
}
.exanim {
    position: relative;
}
.slideLeft{
    left:200px;
    right: auto;
    opacity: 0;
    -webkit-transition: 0.5s opacity;
    -moz-transition: 0.5s opacity;
    -o-transition: 0.5s opacity;
    -ms-transition: 0.5s opacity;
    transition: 0.5s opacity;
}
.slideRight{
    left: auto;
    right:200px;
    opacity: 0;
    -webkit-transition: 0.5s opacity;
    -moz-transition: 0.5s opacity;
    -o-transition: 0.5s opacity;
    -ms-transition: 0.5s opacity;
    transition: 0.5s opacity;
}
.slideTop{
    top:200px;
    bottom: auto;
    opacity: 0;
    -webkit-transition: 0.5s opacity;
    -moz-transition: 0.5s opacity;
    -o-transition: 0.5s opacity;
    -ms-transition: 0.5s opacity;
    transition: 0.5s opacity;
}
.slideBottom{
    top:auto;
    bottom: 200px;
    opacity: 0;
    -webkit-transition: 0.5s opacity;
    -moz-transition: 0.5s opacity;
    -o-transition: 0.5s opacity;
    -ms-transition: 0.5s opacity;
    transition: 0.5s opacity;
}
.excelidefade
{
    opacity: 0;
}



/*.ex_li_indiv.activeliMain .excelider_content .excelider_middle .excelider_inside .slideLeft {
    opacity: 1;
    transform: translateX(0) !important;
}*/


li.ex_li_indiv
{
    z-index: 0;
    -webkit-box-shadow: 0 0 20px 15px rgba(0,0,0,0.5);
    -moz-box-shadow: 0 0 20px 15px rgba(0,0,0,0.5);
    -o-box-shadow: 0 0 20px 15px rgba(0,0,0,0.5);
    -ms-box-shadow: 0 0 20px 15px rgba(0,0,0,0.5);
    box-shadow: 0 0 20px 15px rgba(0,0,0,0.5);
}
li.ex_li_indiv.activeliMain
{
    z-index: 1;
}


li.ex_li_indiv.pile {
    -webkit-filter: blur(4px);
    -moz-filter: blur(4px);
    -o-filter: blur(4px);
    -ms-filter: blur(4px);
    filter: blur(6px);
    -webkit-transform: translateX(50%) scale(0.9);
    -moz-transform: translateX(50%) scale(0.9);
    -o-transform: translateX(50%) scale(0.9);
    -ms-transform: translateX(50%) scale(0.9);
    transform: translateX(50%) scale(0.9);
    z-index: 0;
    transition: 1.5s all;
}

li.ex_li_indiv.activeliMain.pile {
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -o-filter: blur(0px);
    -ms-filter: blur(0px);
    filter: blur(0px);
    -webkit-transform: translateX(0px) scaleX(1);
    -moz-transform: translateX(0px) scaleX(1);
    -o-transform: translateX(0px) scaleX(1);
    -ms-transform: translateX(0px) scaleX(1);
    transform: translateX(0px) scaleX(1);
}

li.ex_li_indiv.jump {
    -webkit-filter: blur(4px);
    -moz-filter: blur(4px);
    -o-filter: blur(4px);
    -ms-filter: blur(4px);
    filter: blur(6px);
    -webkit-transform: translateY(100%) scale(0.7);
    -moz-transform: translateY(100%) scale(0.7);
    -o-transform: translateY(100%) scale(0.7);
    -ms-transform: translateY(100%) scale(0.7);
    transform: translateY(100%) scale(0.7);
    transition: 0.5s all;
}

li.ex_li_indiv.activeliMain.jump {
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -o-filter: blur(0px);
    -ms-filter: blur(0px);
    filter: blur(0px);
    -webkit-transform: translateY(0px) scale(1);
    -moz-transform: translateY(0px) scale(1);
    -o-transform: translateY(0px) scale(1);
    -ms-transform: translateY(0px) scale(1);
    transform: translateY(0px) scale(1);
}

li.ex_li_indiv.throw {
    -webkit-filter: blur(4px);
    -moz-filter: blur(4px);
    -o-filter: blur(4px);
    -ms-filter: blur(4px);
    filter: blur(6px);
    -webkit-transform: rotate(360deg) scale(0.2);
    -moz-transform: rotate(360deg) scale(0.2);
    -o-transform: rotate(360deg) scale(0.2);
    -ms-transform: rotate(360deg) scale(0.2);
    transform: rotate(360deg) scale(0.2);
    transition: 0.5s all;
}

li.ex_li_indiv.activeliMain.throw {
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -o-filter: blur(0px);
    -ms-filter: blur(0px);
    filter: blur(0px);
    -webkit-transform: rotate(0deg) scale(1);
    -moz-transform: rotate(0deg) scale(1);
    -o-transform: rotate(0deg) scale(1);
    -ms-transform: rotate(0deg) scale(1);
    transform: rotate(0deg) scale(1);
}


li.ex_li_indiv.fly {
    -webkit-filter: blur(4px);
    -moz-filter: blur(4px);
    -o-filter: blur(4px);
    -ms-filter: blur(4px);
    filter: blur(6px);
    -webkit-transform: rotateZ(90deg);
    -moz-transform: rotateZ(90deg);
    -o-transform: rotateZ(90deg);
    -ms-transform: rotateZ(90deg);
    transform: rotateZ(90deg);
    transition: 1.2s all;
}
li.ex_li_indiv.activeliMain.fly {
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -o-filter: blur(0px);
    -ms-filter: blur(0px);
    filter: blur(0px);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
}

li.ex_li_indiv.present {
    -webkit-filter: blur(4px);
    -moz-filter: blur(4px);
    -o-filter: blur(4px);
    -ms-filter: blur(4px);
    filter: blur(6px);
    -webkit-transform: scale(0.1);
    -moz-transform: scale(0.1);
    -o-transform: scale(0.1);
    -ms-transform: scale(0.1);
    transform: scale(0.1);
    transition: 1.2s all;
}
li.ex_li_indiv.present.activeliMain {
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -o-filter: blur(0px);
    -ms-filter: blur(0px);
    filter: blur(0px);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}


li.ex_li_indiv.click {
    -webkit-filter: blur(4px);
    -moz-filter: blur(4px);
    -o-filter: blur(4px);
    -ms-filter: blur(4px);
    filter: blur(6px);
    -webkit-transform: scaleY(0.2);
    -moz-transform: scaleY(0.2);
    -o-transform: scaleY(0.2);
    -ms-transform: scaleY(0.2);
    transform: scaleY(0.2);
    transition: 1.2s all;
}
li.ex_li_indiv.click.activeliMain {
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -o-filter: blur(0px);
    -ms-filter: blur(0px);
    filter: blur(0px);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}    

li.ex_li_indiv.goo {
    -webkit-filter: blur(4px);
    -moz-filter: blur(4px);
    -o-filter: blur(4px);
    -ms-filter: blur(4px);
    filter: blur(6px);
    -webkit-transform: scaleY(3);
    -moz-transform: scaleY(3);
    -o-transform: scaleY(3);
    -ms-transform: scaleY(3);
    transform: scaleY(3);
    transition: 1.2s all;
}
li.ex_li_indiv.goo.activeliMain {
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -o-filter: blur(0px);
    -ms-filter: blur(0px);
    filter: blur(0px);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

li.ex_li_indiv.zoom {
    -webkit-filter: blur(4px);
    -moz-filter: blur(4px);
    -o-filter: blur(4px);
    -ms-filter: blur(4px);
    z-index: 0;
    filter: blur(6px);
    -webkit-transform: scale(3);
    -moz-transform: scale(3);
    -o-transform: scale(3);
    -ms-transform: scale(3);
    transform: scale(3);
    transition: 1.2s all;
}
li.ex_li_indiv.zoom.activeliMain {
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -o-filter: blur(0px);
    -ms-filter: blur(0px);
    filter: blur(0px);
    z-index: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

li.ex_li_indiv.fadein {
    -webkit-filter: blur(4px);
    -moz-filter: blur(4px);
    -o-filter: blur(4px);
    -ms-filter: blur(4px);
    filter: blur(6px);
    opacity: 0;
    transition: 1.2s all;
}
li.ex_li_indiv.fadein.activeliMain {
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -o-filter: blur(0px);
    -ms-filter: blur(0px);
    opacity: 1;
    filter: blur(0px);
}

.portrait_container {
    position: absolute;
    z-index: 2;
    color: #fff;
    background: transparent;
    border-top: 60px solid currentColor;
    border-bottom: 120px solid currentColor;
    border-left: 60px solid currentColor;
    border-right: 60px solid currentColor;
    width: 100%;
    max-width: 530px;
    height: 100%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 0px;
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-filter: blur(0px);
    opacity: 1;
    -webkit-box-shadow: inset 0 0 20px 10px rgba(0,0,0,0.4), 0 0 10px 3px rgba(0,0,0,0.4);
    -moz-box-shadow: inset 0 0 20px 10px rgba(0,0,0,0.4), 0 0 10px 3px rgba(0,0,0,0.4);
    -o-box-shadow: inset 0 0 20px 10px rgba(0,0,0,0.4), 0 0 10px 3px rgba(0,0,0,0.4);
    -ms-box-shadow: inset 0 0 20px 10px rgba(0,0,0,0.4), 0 0 10px 3px rgba(0,0,0,0.4);
    box-shadow: inset 0 0 20px 10px rgba(0,0,0,0.4), 0 0 10px 3px rgba(0,0,0,0.4);
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
}
.caption_container {
    top: auto;
    bottom: -85px;
    position: absolute;
    color: #000;
    font-size: 26px;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    height:50px;
    max-width: 500px;
    white-space: nowrap;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
    -webkit-text-shadow: 0 6px 4px rgba(0,0,0,0.2);
    -moz-text-shadow: 0 6px 4px rgba(0,0,0,0.2);
    -o-text-shadow: 0 6px 4px rgba(0,0,0,0.2);
    -ms-text-shadow: 0 6px 4px rgba(0,0,0,0.2);
    text-shadow: 0 6px 4px rgba(0,0,0,0.2);
    padding: 5px 5px 10px 5px;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
}

.portrait_container.dark
{
    color:#000 !important;
}

.portrait_container.dark .caption_container
{
    color:#fff !important;
}

.portrait_container.white
{
    color:#fff !important;
}

.portrait_container.white .caption_container
{
    color:#000 !important;
}

.portrait_container.dark
{
    color:transparent !important;
}

.portrait_container.dark .caption_container
{
    color:#000 !important;
}

li.ex_li_indiv.landscape {
    background-position: 50% 7vh;
    background-size: 530px;
}

li.ex_li_indiv.portrait {
    background-position: 50% 7vh;
    background-size: 530px;
}
.portraitMode .ex_li_indiv,.portraitMode .ex_li_indiv.activeliMain
{
    -webkit-filter: blur(10px) !important;
    filter: blur(10px) !important;
}
.nav_buttons.lg {
    height: 100% !important;
    top: 0 !important;
}
.nav_buttons.md {
    height: 50% !important;
    top: 25% !important;
}